eeg_motor_imagery_1.ipynb
eeg_motor_imagery_2.ipynb
eeg_motor_imagery_3.ipynb
Untitled.ipynb
eeg_motor_imagery_nn.ipynb
feature_extraction_nn.ipynb
mi.py
physionet.org/
.ipynb_checkpoints
*/.ipynb_checkpoints/*
__pycache__/
